.friendsList-title{
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 10px;
}
.friends-list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.friends-list {
  width: calc(25% - 10px); /* 25% for 4 items, minus gap adjustment */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.friend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.img-container {
  width: 100px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  background-image: url("https://ichef.bbci.co.uk/news/1024/cpsprodpb/14235/production/_100058428_mediaitem100058424.jpg.webp");
  background-size: cover;
  background-position: center;
}

.add-friend {
  background-color: plum;

  color: white;
  border: none;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.full-name {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
