.loginMainDiv {
    display: flex;
    height: 100vh;
    padding: 50px;
    background-color: rgba(221, 160, 221, 0.233);
  }
  .pDiv {
    /* border: 1px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 50%;
    padding: 20px;
    background-image: url("/blog.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: cadetblue;
    font-size: 32px;
  }
  .formDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    gap: 20px;
    align-items: center;
  }
  
  .textL {
    font-size: 24px;
  }
  .imputL {
    margin-top: 10px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    height: 35px;
    border: none;
  }
  .btnsL {
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    background-color: beige;
    font-size: 20px;
    color: plum;
  }
  